@import "../../../scss/index.scss";

.ui.form.add-song-form {
  .dropdown {
    i {
      width: 16px !important;
      height: 11px !important;
    }
    .flag {
      width: 16px !important;
      height: 11px !important;
      img {
        width: 16px !important;
        height: 11px !important;
      }
    }
    img {
      width: 30px !important;
      height: 30px !important;
      border-radius: 0;
    }
  }
}
