@import "../../scss/index.scss";

.player {
  position: relative;
  height: 100%;
  background-color: $background-grey-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .ui.grid {
    width: 100%;
    margin: 0;
  }

  .left {
    display: flex !important;
    align-items: center;
    font-size: 16px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    img {
      width: 60px;
      margin-right: 20px;
    }
  }

  .center {
    display: flex !important;
    align-items: center;
    flex-direction: column;

    .controls {
      margin-bottom: 10px;
      justify-content: space-around;
      display: flex;
      width: 70%;

      .icons-aditionals {
        font-size: 16px !important;
        &#loop-icon {
          color: $primary-color;
        }
        &#random-icon {
          color: $primary-color;
        }
      }

      .icons-play {
        font-size: 30px !important;
      }

      i {
        margin: 0 !important;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .ui.progress {
      width: 100%;
      margin: 0;

      .bar {
        min-width: 0%;

        .progress {
          display: none;
        }
      }
    }
  }

  .right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    .ui.input {
      i {
        color: $font-grey;
        margin-right: 15px;
      }

      input {
        width: 120px;
        padding-left: 0;
        padding-right: 0;
      }

      input[type="range"] {
        -webkit-appearance: none;
        background: transparent;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-color: transparent;
      }

      input[type="range"]:focus {
        border-color: transparent;
        outline: none;
        border: none;
        text-decoration: none;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: #ffffff;
        cursor: pointer;
        margin-top: -6px;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: #888888;
        border-radius: 6px;
        margin-top: 6px;
        border-color: transparent;
      }
    }
  }
}
